<?xml version="1.0"?>

<config>
	<modules>
        <Octopus_Deposit>
            <version>0.1.0</version>
        </Octopus_Deposit>
    </modules>
	<frontend>
		<layout>
			<updates>
				<Octopus_Deposit>
					<file>octopus_deposit.xml</file>
				</Octopus_Deposit>
			</updates>
		</layout>
	</frontend>
	
  <global>
	<models>
		<deposit>
			<class>Octopus_Deposit_Model</class>
		</deposit>
    </models>
	
	<events>
	  <checkout_cart_product_add_after>
	     <observers>
          <octopus_deposit_sales_observer>
            <type>singleton</type>
            <class>Octopus_Deposit_Model_Sales_Observer</class>
            <method>sales_quote_item_booking</method>
          </octopus_deposit_sales_observer>
        </observers>
	  </checkout_cart_product_add_after>
    </events>
	
	<resources>
		<deposit_setup>
			<setup>
				<module>Octopus_Deposit</module>
			</setup>
			<connection>
				<use>core_setup</use>
			</connection>
		</deposit_setup>
		<deposit_write>
			<connection>
			  <use>core_write</use>
			</connection>
		</deposit_write>
		<deposit_read>
		   <connection>
			<use>core_read</use>
		  </connection>
		</deposit_read>
	</resources>	  
  </global>
</config>